@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('https://res.cloudinary.com/dkc8xrlg8/image/upload/v1708254931/ASCII%20Images/Sewers.png');
  background-position: center;
  background-size: cover;
  color: green;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .searchInput {
    @apply w-full rounded-lg border-4 border-double border-[green] bg-[green] bg-opacity-20 px-4 py-2 outline-none
        placeholder:text-[green] placeholder:text-opacity-70;
  }

  .buttonNoActive {
    @apply border-4 border-double border-[green] rounded-md bg-[rgb(0,30,0)] text-center text-[green] font-bold py-2 px-4
    enabled:hover:border-black enabled:hover:bg-[green] enabled:hover:text-black disabled:border-opacity-50 disabled:text-opacity-50;
  }
}
