@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('https://res.cloudinary.com/dkc8xrlg8/image/upload/v1708254931/ASCII%20Images/Sewers.png');
  background-position: center;
  background-size: cover;
  color: green;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
